<app-card title="" Subtitles="">
    <h1 style="text-align: center;">Please fill the form below to send your help Appplication for Masjid</h1>
    <form>
<table class="example-full-width" cellspacing="0"><tr>
    <td>
        
        <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Imam First name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td>
        
        <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Imam Second name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td>
        
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Imam Last name</mat-label>
        <input matInput>
      </mat-form-field></td>
  </tr>
  <tr>
    <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Assistant First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Assistant Second name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td>
    
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Assistant Last name</mat-label>
        <input matInput>
      </mat-form-field></td>
  </tr>
  <tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Imam phone number</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Assistant phone number</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Shehia</mat-label>
        <input matInput>
      </mat-form-field></td>
  </tr>
  <tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>District</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Region</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput>
      </mat-form-field></td>
  </tr>
  <tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Time</mat-label>
        <input matInput>
      </mat-form-field></td>
  </tr>
  <tr class="">
    <td style="margin-left: 2px;">
        <p>Sheha letter</p>
        <input type="file" class="form-control-file border" name="file" style="width: 250px;">
    </td>
    
    <td style="margin-left: 2px;">
        <p>Masjid image</p>
        <input type="file" class="form-control-file border" name="file" style="width: 250px;">
    </td>

  </tr>
</table>

    <!-- <input type="file" class="form-control-file border" name="file" style="width: 250px;"> -->
  
  <div class="containers">
    <h2 style="text-align: center;">Write your description about your Application</h2>
    <mat-form-field class="example-full-width" appearance="outline">Description
        <textarea matInput></textarea>
      </mat-form-field>
    <div>
        <button mat-raised-button color="primary">SUBMIT</button></div>
</div>
</form>
</app-card>
