<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink='/admindashh/adminhome'><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink='/admindashh/'><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
        <button mat-list-item routerLink='/admindashh/staffreg'><mat-icon mat-list-icon>stars</mat-icon>Masjid-Build</button>
        <button mat-list-item routerLink='/admindashh/madrasareq'><mat-icon mat-list-icon>pie_chart</mat-icon>Madrasa-Build</button>
        <button mat-list-item routerLink='/admindashh/userhom'><mat-icon mat-list-icon>assignment_ind</mat-icon>For Orphans</button>
        <button mat-list-item routerLink='/admindashh/userhom'><mat-icon mat-list-icon>pan_tool</mat-icon>Private Help</button>
        <button mat-list-item routerLink='/admindashh/userhom'><mat-icon mat-list-icon>restore</mat-icon>History</button>
        <button mat-list-item><mat-icon mat-list-icon>logout</mat-icon>Logout</button>
    </mat-action-list>
</mat-card>
